/*primary page elements*/
#dt-panel {
	display:inline-block;
	position:relative;
	float:left;
	margin:5px 0px 5px 5px;

	width:310px;
	height:800px;
}

#dt-viz {
	display:inline-block;
	position:relative;
	float:left;
	margin:5px 10px 5px 10px;

	width:calc(99% - 324px);
	height:520px;
}

#dt-statstable {
	display:inline-block;
	position:relative;
	float:left;
	margin:5px 10px 5px 10px;

	width:calc(99% - 322px);
	height:275px;
}

/*minor page elements*/
#dt-modes {
	display:block;
	float:left;
	margin:10px 0px 0px 0px;

	width:100%;
	height:30px;
	overflow-y:hidden;
	overflow-x:hidden;
}

#dt-modes .button {
	display:block;
	float:left;

	padding:3px 0px 0px 0px;
	width:145px;
	height:22px;

	line-height:20px;
	font-size:12px;
	font-weight:400;
	color:#ffffff;
	text-align:center;
	letter-spacing:1px;

	background-color:#a0b1ba;
	border-radius:5px;

	cursor:pointer;
}

#dt-modes .button.active {
	background-color:#637e8d;
}

#dt-modes .button:hover {
	background-color:#025468;
}

#dt-instructions {
	display:block;
	float:left;
	margin:10px 0px 0px 0px;
	padding:0px 0px 2px 0px;

	overflow-y:hidden;
	overflow-x:hidden;
}

#dt-instructions .title {
	margin: 0px 0px 8px 0px;
	padding: 0px 0px 4px 0px;

	width:150px;
	color:#525252;
	font-weight:200;
	font-size:14px;
	line-height:14px;
	letter-spacing:1px;
}

#dt-instructions .instruction {
	margin: 5px 0px 0px 0px;
	width:100%;
	float:left;

	color:#525252;
	font-weight:200;
	font-size:12px;
	line-height:14px;

	text-indent:-14px;
	margin-left:14px;
}

#dt-selections {
	display:block;
	float:left;
	margin:10px 0px;
	padding:5px 0px;

	width:100%;
	overflow-y:auto;
	overflow-x:hidden;

	border-top:solid 1px #d3d3d3;
	border-bottom:solid 1px #d3d3d3;
}

#dt-selections .tbutton {
	display:block;
	float:left;
	margin:10px 0px 0px 0px;

	width:calc(100% - 2px);
	height:100px;

	border: 1px solid #ffffff;
	border-radius:0px 10px 10px 0px;
	background-color:#ffffff;

	cursor:pointer;
}

#dt-selections .tbutton:hover {
	border: 1px solid #6378e6;
}


#dt-selections .timage {
	display:block;
	float:left;

	width:100px;
	height:auto;
}

#dt-selections .ttitle {
	display:block;
	float:left;

	width:calc(100% - 120px);
	height:20px;
	padding:5px 0px 0px 10px;

	font-size:14px;
	font-weight:400;
	letter-spacing:1px;
}

#dt-selections .tblurb {
	display:block;
	float:left;

	width:calc(100% - 120px);
	padding:5px 0px 0px 10px;

	font-size:13px;
	font-weight:200;
}

#dt-selections .pbutton {
	display:block;
	float:left;
	margin:7px 0px 0px 0px;

	width:285px;
	height:20px;
	padding:3px 0px 4px 5px;

	color:#ffffff;

	border-radius:0px 5px 5px 0px;
	background-color:#637e8d;

	cursor:pointer;
}

#dt-selections .pbutton:hover {
	background-color:#025468;
}

#dt-selections .pbutton .pbsite {
	float:left;
	margin:3px 0px 0px 3px;

	width:182px;
	max-width:182px;

	letter-spacing:1px;
	font-size:12px;
	font-weight:200;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

#dt-selections .pbutton .pbroom {
	float:left;
	margin:1px 0px 0px 0px;

	width:80px;
	max-width:80px;

	font-size:15px;
	font-weight:400;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

#dt-selections .menu {
	margin:0px 0px;
	width:288px;
	overflow:hidden;
}

#dt-selections .groupholder {
	display:block;
	float:left;
	width:calc(100% - 20px);
	margin:5px 0px;
	padding:10px 10px 10px 10px;
	background-color:#f1f1f1;
	border-radius:3px;
}

#dt-selections .site-labelholder {
	margin:0px 0px 3px 0px;

	width:100%;
	height:26px;
	max-height:26px;
	
	font-size:12px;
	line-height:18px;

	border-radius:5px;
}

#dt-selections .site-labelholder .sitename {
	display:inline-block;
	float:left;

	width:198px;
	max-width:198px;
	padding:3px 0px 3px 10px;

	color:#ffffff;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;

	border-radius:5px;
}

#dt-selections .site-labelholder .material-icons.button {
	float:left;
	margin:0px 0px 0px 3px;

	padding:3px 3px 3px 3px;

	font-size:18px;
	color:#ffffff;
	
	border-radius:5px;

	cursor:pointer;
}

#dt-addrow {
	margin:16px 5px 0px 0px;
}

#dt-selections .subgroupholder {
	display:block;
	float:left;
	width:288px;
	background-color:#f1f1f1;
}

#dt-selections .subgroupholder .menu {
	margin:3px 0px 0px 0px;
}


#dt-selections .room-labelholder {
	margin:3px 0px 3px 0px;

	width:289px;
	height:26px;
	max-height:26px;
	
	font-size:12px;
	line-height:18px;

	border-radius:5px;
}

#dt-selections .room-labelholder .roomname {
	display:inline-block;
	float:left;

	width:250px;
	max-width:250px;
	padding:2px 0px 2px 10px;

	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;

	background-color:#ffffff;
	border-radius:5px;
}

#dt-selections .room-labelholder .material-icons.button {
	float:left;
	margin:0px 0px 0px 3px;

	padding:2px;

	font-size:18px;
	
	border-radius:5px;
	background-color:#ffffff;

	cursor:pointer;
}

#dt-canvasholder img {
	width:100%;
	max-width:100%;
}

#dt-statstable table {
	margin: 0px 40px 0px 10px;
	table-layout:fixed;
	white-space:nowrap;
}

/*gen selector elements*/
.dt-selectortitle {
	margin:6px 0px 0px 0px;

	float:left;
	display:inline-block;
	height:20px;
	line-height:20px;

	color:#025468;
	font-size:14px;
}

/*gen statstable elements*/
#dt-statstable tr td {
	padding:5px 0px 3px 8px;

	font-size:9px;
	letter-spacing:1px;
	line-height:13px;

	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;

	background-color:#edf0f1; /*barely blue*/
	border:solid 2px #ffffff;
	border-radius:5px;

	cursor:pointer;
}

#dt-statstable tr td:nth-child(1) {
	width:170px !important;
	color:#ffffff;
	background-color:#a0b1ba;
}

#dt-statstable tr:hover td {
	color:#ffffff;
	background-color:#637e8d !important;
}

.dt-selectortitle {
	float:left;
	display:inline-block;

	height:20px;

	color:#025468;
	font-size:16px;
}

/*daterange picker styles*/
#dt-selections .drp_top-bar b,#dt-selections .drp_top-bar span {
	position:relative !important;
	top:4px !important; 
	font-size:11px !important;
	font-weight:200 !important;
	color:#666 !important;
}

#dt-selections .date-picker-wrapper .month-wrapper table {
    width: 280px;
    float: left;
}

.green1 .date-picker-wrapper .first-date-selected {
    background-color: #33cc99 !important;
    color: #ffffff !important;
}

.green1 .date-picker-wrapper .last-date-selected {
    background-color: #33cc99 !important;
    color: #ffffff !important;
}

.green1 .date-picker-wrapper .month-wrapper table .day.toMonth.valid.day.checked {
    background-color: rgba(51, 204, 153, 0.33);
}

.blue1 .date-picker-wrapper .first-date-selected {
    background-color: #6699ff !important;
    color: #ffffff !important;
}

.blue1 .date-picker-wrapper .last-date-selected {
    background-color: #6699ff !important;
    color: #ffffff !important;
}

.blue1 .date-picker-wrapper .month-wrapper table .day.toMonth.valid.day.checked {
    background-color: rgba(102, 153, 255, 0.33);
}

.orange1 .date-picker-wrapper .first-date-selected {
    background-color: #ee5549 !important;
    color: #ffffff !important;
}

.orange1 .date-picker-wrapper .last-date-selected {
    background-color: #ee5549 !important;
    color: #ffffff !important;
}

.orange1 .date-picker-wrapper .month-wrapper table .day.toMonth.valid.day.checked {
    background-color: rgba(238, 85, 73, 0.33);
}

.purple1 .date-picker-wrapper .first-date-selected {
    background-color: #9900ff !important;
    color: #ffffff !important;
}

.purple1 .date-picker-wrapper .last-date-selected {
    background-color: #9900ff !important;
    color: #ffffff !important;
}

.purple1 .date-picker-wrapper .month-wrapper table .day.toMonth.valid.day.checked {
    background-color: rgba(153, 0, 255, 0.33);
}

.green2 .date-picker-wrapper .first-date-selected {
    background-color: #bad294 !important;
    color: #ffffff !important;
}

.green2 .date-picker-wrapper .last-date-selected {
    background-color: #bad294 !important;
    color: #ffffff !important;
}

.green2 .date-picker-wrapper .month-wrapper table .day.toMonth.valid.day.checked {
    background-color: rgba(186, 210, 148, 0.33);
}

.blue2 .date-picker-wrapper .first-date-selected {
    background-color: #a5d7e0 !important;
    color: #ffffff !important;
}

.blue2 .date-picker-wrapper .last-date-selected {
    background-color: #a5d7e0 !important;
    color: #ffffff !important;
}

.blue2 .date-picker-wrapper .month-wrapper table .day.toMonth.valid.day.checked {
    background-color: rgba(165, 215, 224, 0.33);
}

.orange2 .date-picker-wrapper .first-date-selected {
    background-color: #fbb157 !important;
    color: #ffffff !important;
}

.orange2 .date-picker-wrapper .last-date-selected {
    background-color: #fbb157 !important;
    color: #ffffff !important;
}

.orange2 .date-picker-wrapper .month-wrapper table .day.toMonth.valid.day.checked {
    background-color: rgba(251, 177, 87, 0.33);
}

.purple2 .date-picker-wrapper .first-date-selected {
    background-color: #e850e6 !important;
    color: #ffffff !important;
}

.purple2 .date-picker-wrapper .last-date-selected {
    background-color: #e850e6 !important;
    color: #ffffff !important;
}

.purple2 .date-picker-wrapper .month-wrapper table .day.toMonth.valid.day.checked {
    background-color: rgba(232, 80, 230, 0.33);
}