body {
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif !important;
	min-width:1300px;
	margin: 0px 0px 0px 0px; /* t-r-b-l  */
	overflow-y:scroll;
	-webkit-print-color-adjust: exact;
}

hr {
	border: 1px solid #a0b1ba;
	float:left;
}

/*header*/
#header {
	display:block;
	width:50%;
	min-width:650px;
	height:60px;
	position:absolute;
	top:0px;
	background-color:#025468;
}

#client-logo1 {
	display:inline-block;
	float:left;
	width:49px;
	height:48px;
	margin:6px 6px 6px 10px;
}

#client-logo2 {
	display:inline-block;
	float:left;
	width:196px;
	height:48px;
	margin:6px -60px 6px 10px;
}

#project-title {
	display:inline-block;
	float:left;
	width:400px;
	height:22px;
	margin:6px 0px 6px 0px;
	padding:13px 0px 13px 20px;
	color:#ffffff;
	font-weight: 100;
	font-size:18px;
	letter-spacing:2px;
	border-left-style:solid;
	border-left-color:#ffffff;
	border-left-width:1px;
}

#nav-controls {
	display:block;
	width:50%;
	min-width:650px;
	height:60px;
	position:absolute;
	top:0px;
	left:50%;
}

.nav-button {
	display:block;
	float:left;
	height:40px;
	width:24%;
	padding:20px 0px 0px 0px;
	margin: 0px 0% 0px 1%;
	color:#ffffff;
	font-size:12px;
	font-weight:200;
	text-align:center;
	letter-spacing:1px;
	border-style:none;
}

.nav-button:hover {
	background-color:#025468;
	cursor:pointer;
}

.nav-button.open {
	background-color:#025468;
}

.active-nav {
	background-color:#637e8d;
}

.alt-nav {
	background-color:#a0b1ba;
}

.nav-option {
	display:block;
	width:100%;
	height:20px;
	padding:8px 0px 4px 0px;
	margin:2px 1% 0px 0px;
	color:#ffffff;
	font-weight:200;
	font-size:11px;
	text-align:center;
	letter-spacing:1px;
}

.nav-option:hover {
	background-color:#025468;
	cursor:pointer;
}

@media all and (max-width: 1300px) {
    #nav-controls{
        margin-left: 0px;
        left: 650px;
    }
}

#dt-nav-options {
	height:70px;
	width:24%;
	position:absolute;
	top:55px;
	left:50%;
	margin: calc(1% - 2px);
	padding: 0px 2px 0px 2px;
	border-style:none;
	background-color:#ffffff;
	display:none;
	z-index:999999;
}

/*footer*/
#footer {
	display:block;
	width:100%;
	height:50px;
	position:absolute;
	background-color:#ffffff;
	bottom:0px;
	border-top-style:solid;
	border-top-color:#a9a9a9;
	border-top-width:1px;
}

#rh1-logo {
	display:inline-block;
	float:left;
	height:38px;
	margin:6px 6px 6px 10px;
	cursor:pointer;
}

#mkt-logo {
	display:inline-block;
	float:right;
	height:34px;
	margin:8px 10px 8px 6px;
	cursor:pointer;
}

#select-links {
	display:inline-block;
	float:left;
	height:20px;
	margin:20px 0px 10px 10px;
}

.link {
	display:inline-block;
	font-size:9px;
	letter-spacing:1px;
	margin:2px;
	color:#a9a9a9;
}

.divider {
	margin:2px;
	font-size:9px;
	color:#a9a9a9;
}

/*content*/
#content-wrapper {
	display:block;
	width:calc(100% - 10px);
	min-width:1300px;
	height:100%;
	margin:5px;
	position:absolute;
	top:60px;
	overflow-y:auto;
	overflow-x:hidden;
	background-color:#f9f9f9;
}

.spacer {
	display:block;
	width:100%;
	min-width:600px;
}

/*select2*/
.select2-result-label {
	font-size: 11px;
	font-weight:200;
	width:inherit;
	overflow:hidden;
	line-height: 10px;
	letter-spacing:1px;
}

.select2-results li.select2-result-with-children>.select2-result-label {
	font-weight:200 !important;
	color:#637e8d;
}

.select2-result-label option:hover {
	color:#fff;
}

.select2-result-label option:focus {
	color:#fff;
}

.select2-chosen {
	padding-top:5px;
	font-size: 13px;
	font-weight:200;
	width:inherit;
	overflow:hidden;
	color: #525252;
	line-height: 16px;
	letter-spacing:1px;
}

#s-rw-datasrcselector .select2-chosen {
	font-size:12px;
}

.select2-input {
	padding-top:5px;
	font-size: 16px;
	font-weight:200;
	width:inherit;
	overflow:hidden;
	color: #525252;
	line-height: 16px;
	letter-spacing:1px;
}

.select2-results__option.emptyoption {
	color: #d3d3d3;
}

.select2-container--default {
	font-weight:200;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 18px;
	background: rgba(248, 248, 248, 0);
	border-radius: 6px;
	color: black;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 18px;
}

.select2-container .select2-selection--single {
	height: 18px;
	border: none;
}

.select2-container--open .select2-dropdown--below {
	border: 1px solid #aaa;
	border-radius: 6px;
	width:inherit;
}

.select2-container--open .select2-dropdown--above {
	border: 1px solid #aaa;
	border-radius: 6px;
	width:inherit;
}
