/*primary page elements*/
#home-map {
	position:absolute; left:420px;

	display:inline-block;

	width:calc(100% - 420px);
	height:100%;
	cursor:pointer;
}

#home-pan {
	position:absolute; left:0px;
	margin:0px 0px 0px 5px;

	display:inline-block;

	width:400px;
	height:100%;
}

/*minor page elements*/
#home-pan .descr {
	display:inline-block;
	margin:8px 0px 0px 0px;

	width:100%;

	color: #525252;
	font-size:16px;
	font-weight:400;
	line-height:23px;
}

#home-pan .navopt {
	display:inline-block;
	float:left;
	margin:50px 0px 0px 0px;

	width:100%;

	color: #525252;
	font-size:12px;
	font-weight:200;
}

#home-map .layer {
	pointer-events:none;
}

#home-map .layer, #home-map .layer svg {
	position: absolute;
}

#home-map .layer circle.siteobj {
	fill: #fbb157;
	fill-opacity: 0.33;
	stroke: #fbb157;
	stroke-width: 1px;
	pointer-events: all !important;
	cursor: pointer;
}

#home-map .layer rect.astaobj {
	fill-opacity: 0.33;
	stroke-width: 1px;
	pointer-events: all !important;
	cursor: pointer;
}

#home-map .layer .label rect {
	fill: #ffffff;
	fill-opacity: 0.9;
	stroke-width: 1px;
}

#home-map .layer .label .heavy {
	font-size:16px;
	font-weight:400;
}

#home-map .layer .label .needle,
#home-map .layer .label .needle-center {
  fill: #464A4F;
  stroke: #464A4F;
}

#home-map .layer .label .light {
	font-size:10px;
	font-weight:200;
}

#home-pan .infobutton {
	display:inline-block;
	margin:5px 0px 0px 0px;
	padding:0px 0px 0px 8px;
	
	height:26px;
	width:calc(100% - 10px);
	
	line-height:26px;
	font-size:14px;
	font-weight:200;
	letter-spacing:1px;
	color: #525252;

	border: 1px solid #aaa;
	border-radius: 5px;
	background-color:#ffffff;
	background-image: linear-gradient(to top,#eee 0,#fff 50%);

	cursor:pointer;
}

#home-pan .infobutton:hover {
	color:#fbb157;
	transition: all 1s ease;
}


#home-pan .menu {
	display:inline-block;
	float:left;
	margin:5px 0px 0px 0px;
	overflow:hidden;
}

#home-pan #gobutton {
	display:none;
	float:left;
	margin:5px 0px 0px 5px;

	width:42px;
	height:26px;
	line-height:26px;

	padding:0px 0px 0px 16px;
	color: #525252;
	font-size:14px;
	font-weight:200;
	letter-spacing:1px;

	border: 1px solid #aaa;
	border-radius: 5px;
	background-color:#ffffff;
	background-image: linear-gradient(to top,#eee 0,#fff 50%);

	cursor:pointer;
}

#home-pan #gobutton:hover {
	color:#fbb157;
	transition:all 1s ease;
}

#home-legends {
	position:absolute; top:0px; left:calc(100% - 270px);
	display:block;
	width:240px;
	font-size:13px;
	font-weight:400;
	color:#525252;
}

#home-sitelegend {
	margin:10px 0px 0px 0px;
	padding:10px 10px 5px 10px;
	display:flex;
	flex-direction:column;
	width:100%;
	border-radius:3px;
	background-color:rgba(255,255,255,0.7);
}

#home-astalegend {
	margin:10px 0px 0px 0px;
	padding:10px 10px 7px 10px;
	display:flex;
	flex-direction:column;
	width:100%;
	border-radius:3px;
	background-color:rgba(255,255,255,0.7);	
}

.icon-holder {
	width:100%;
	float:left;
	display:block;
	margin:8px 0px 0px 0px;
}

.icon-item {
	margin:4px 0px;
	width:100%;
	display:block;
	float:left;
	font-weight:200;
	font-size:10px;
}

.aqdiamond {
	width: 0;
	height: 0;
	border: 7px solid transparent;
	/*border-bottom-color: red;*/
	position: relative;
	top: -7px;
}

.aqdiamond.green {
	border-bottom-color:#00E400;
}
.aqdiamond.yellow {
	border-bottom-color:#FFFF00;
}
.aqdiamond.orange {
	border-bottom-color:#FF7E00;
}
.aqdiamond.red {
	border-bottom-color:#FF0000;
}
.aqdiamond.purple {
	border-bottom-color:#99004C;
}
.aqdiamond.maroon {
	border-bottom-color:#7E0023;
}
.aqdiamond.gray {
	border-bottom-color:#A9A9A9;
}

.aqdiamond:after {
	content: '';
	position: absolute;
	left: -7px;
	top: 7px;
	width: 0;
	height: 0;
	border: 7px solid transparent;
	/*border-top-color: red;*/
}

.aqdiamond.green:after {
	border-top-color:#00E400;
}
.aqdiamond.yellow:after {
	border-top-color:#FFFF00;
}
.aqdiamond.orange:after {
	border-top-color:#FF7E00;
}
.aqdiamond.red:after {
	border-top-color:#FF0000;
}
.aqdiamond.purple:after {
	border-top-color:#99004C;
}
.aqdiamond.maroon:after {
	border-top-color:#7E0023;
}
.aqdiamond.gray:after {
	border-top-color:#A9A9A9;
}

