/*primary page elements*/
#kc-modal {
	position:fixed;

	width:calc(100% - 10px);
	min-width:1290px;
	height: calc(100% - 120px);

	background-color:rgba(50,50,50,0.75);
	z-index:9999;
}

#kc-intro {
	display:inline-block;
	margin:0px 20% 0px 20%;

	width:60%;
	height:140px;
	padding:10px 0px 10px 0px;
}

#kc-ways {
	display:inline-block;

	width:100%;
	padding:10px 0px 10px 0px;
}

#kc-faqs {
	display:inline-block;
	margin:15px calc((100% - 1042px)/2) 10px calc((100% - 1042px)/2);

	width:1042px;
	padding:10px 0px 10px 0px;
}


#kc-ways .strategy-section {
	display:block;
	margin:15px calc((100% - 1042px)/2) 10px calc((100% - 1042px)/2);

	width:1042px;
}

#kc-ways .ss-tholder {
	display:block;
	margin:10px calc((100% - 1042px)/2) 20px calc((100% - 1042px)/2 + 5px);

	width:1042px;
	height:22px;
}

#kc-ways .ss-tholder .title {
	padding:6px 6px 5px 3px;

	color:#ffffff;
	font-size:16px;
	font-weight:600;
	letter-spacing:2px;
	text-align:center;

	border-radius:3px 3px 0px 0px;
}

#kc-ways .ss-strat .title {
	padding:6px 6px 5px 6px;

	color:#ffffff;
	font-size:13px;
	font-weight:200;
	letter-spacing:2px;

	border-radius:3px 3px 0px 0px;
}

#kc-ways .text {
	padding: 5px 7px 5px 7px;

	font-size:13px;
	font-weight:200;
	letter-spacing:1px;
	font-style:italic;
	line-height:18px;
}

#kc-ways .ss-strat {
	display:inline-block;
	float:left;
	margin: 0px 0px 0px 5px;

	height:calc(100% - 5px);
	width:245px;
	padding: 0px 0px 5px 0px;

	background-color:#ffffff;
	overflow:hidden;
	cursor:pointer;
}

#kc-ways img {
	margin:5px calc(47px /2) 0px calc(47px /2);

	max-height:calc(100% - 32px);
	max-width:198px;
}

#kc-modal img {
	max-height:100%;
	max-width:100%;
}

#kc-modal .text {
	padding: 5px 6px 5px 6px;

	font-size:13px;
	font-weight:200;
	letter-spacing:1px;
	font-style:italic;
	line-height:18px;
}

#kc-modal .kitcat-title {
	float:left;
	
	width:100%;
	padding:0px 0px 5px 5px;
	        
	font-size:14px;
	color:#637e8d;
	letter-spacing:1px;
	font-weight:400;
}


#kc-modal .kit {
	display:inline-block;
	float:left;
	margin:5px;

	height:320px;
	
	border-radius:3px;
	background-color:#f9f9f9;
}

#kc-modal .kit-title {
	float:left;
	
	width:calc(100% - 10px);
	padding:5px 5px 5px 5px;
	        
	font-size:12px;
	text-align:center;
	color:#ffffff;
	letter-spacing:1px;
	font-weight:400;

	border-radius:3px 3px 0px 0px;
}

/*faqs*/
#kc-faqs .q {
	margin:6px 0px;

	font-size:18px;
	font-weight:400;
	color:#fbb157;
}

#kc-faqs .a {
	margin:4px 0px;

	letter-spacing:1px;
	line-height:22px;
	font-size:16px;
	font-weight:200;
	color:#525252;
}

