/*primary page elements*/
#schools-siteselection {
	display:inline-block; overflow:hidden;
	float:left;
	margin:0px 0px 3px 0px;
	
	width:100%;
	height:30px;
	padding:0px 6px;

	font-weight:200;
	line-height:25px;
	letter-spacing:1px;
	color:#fbb157;
}

#schools-overview {
	position:relative;
	display:inline-block; overflow:hidden;
	float:left;
	margin:0px 10px 0px 0px;

	width:400px;
	height:272px;
}

#schools-currentweather {
	position:relative;
	display:inline-block; overflow:hidden;
	float:left;
	margin:0px 10px 0px 0px;

	width:400px;
	height:272px;
}

#schools-map {
	position:relative;
	display:inline-block; overflow:hidden;
	float:left;
	margin:-38px 0px;
	width: calc(100% - 820px);
	height:305px;
}

#schools-recentweather {
	position:relative;
	display:block;
	float:left;

	width:100%;
	min-height:510px;
}

#schools-crprofiles {
	position:relative;
	display:inline-block;
	float:left;

	width:100%;
	height:445px;
}

/*minor page elements*/
#schools-crprofiles .triangle-left {
	background-image: url('http://www.mkthinkstrategy.info/wggtest/hidoe-tc-refresh/images/org-arrow-left-18x18.png');
	background-repeat:no-repeat;
	width:18px;
	height:18px;
	position:absolute;
	top:6px;
	left:22px;
	display:inline-block;
	float:left;
}

#schools-siteselection #schools-sitemenu {
	display:inline-block;
	float:left;
	margin:0px 0px 6px 0px;
	width:614px;
}

#schools-overview table {
	margin-top:6px;
}

#schools-overview tr td {
	width:215px;
	padding:3px 0px 1px 10px;

	font-size:11px;
	font-weight:200;
	letter-spacing:1px;
	line-height:18px;
	border-top:solid 1px #d3d3d3;
	border-bottom:solid 1px #d3d3d3;
}

#schools-overview tr td:nth-child(1) {
	color:#36454f;
}

#schools-currentweather #s-cw-content {
	display:inline-block;
	position:relative;
	margin:10px 5px 5px 5px;
	width:390px;
	letter-spacing:1px;
}

#schools-currentweather #s-cw-winddial {
	display:inline-block;
	float:left;
	position:absolute; top:20px; left:250px;
	width:95px;
	height:95px;
}

#schools-currentweather #compass {
	transform:rotate(0deg);
	transition: 1s linear;
}

#schools-currentweather #dial {
	border-radius:50%;
	width:85px;
	height:85px;
	border:solid 5px #818282;
	position:relative;
}

#schools-currentweather #arrow {
	width:0;
	height:0;
	border-left:7px solid transparent;
	border-right:7px solid transparent;
	border-top:21px solid #000000;
	position:absolute;
	left:35.5px;
	top:-11.66667px;
}

#rw-panel {
	display:inline-block;
	position:relative;
	float:left;
	margin:15px 0px 0px 5px;

	width:290px;
}

#airqual-alert {
	width:100%;
	height:18px;
	max-height:18px;
	line-height:18px;
	margin:0px 0px 10px 0px;
	padding:8px 5px;
	background-color:#F2F2F2;
	font-size:13px;
	color:#025468;
}

#rw-panel .date-picker-wrapper .month-wrapper table {
    width:280px;
}

#rw-viz {
	display:inline-block;
	position:relative;
	float:left;
	margin:5px 10px 5px 10px;
	width:calc(99% - 310px);
	height:395px;
}

#cp-panel {
	display:inline-block;
	position:relative;
	float:left;
	margin:15px 0px 0px 5px;

	width:290px;
}

#cp-viz {
	display:inline-block;
	position:relative;
	float:left;
	margin:5px 10px 5px 10px;

	width:calc(99% - 310px);
	height:395px;
}

#cr-info {
	display:inline-block;
	position:relative;
	float:left;
	margin:5px 0px 5px 10px;

	width:290px;
	height:165px;
}

#cr-heatmap {
	display:inline-block;
	position:relative;
	float:left;
	margin:5px 10px 5px 10px;

	width:calc(99% - 310px);
	height:165px;
}

#ws-info {
	display:inline-block;
	position:relative;
	float:left;
	margin:5px 0px 5px 10px;

	width:290px;
	height:165px;
}

#ws-heatmap {
	display:inline-block;
	position:relative;
	float:left;
	margin:5px 10px 5px 10px;

	width:calc(99% - 310px);
	height:165px;
}

#cp-panel .roomlabel {
	margin: 1px 1px;

	display:inline-block;
	width:131px;
	padding:1px 0px 0px 5px;
	
	font-size:12px;
	line-height:18px;
	border: 0px solid;
	border-radius:5px;
	background-color:#d3d3d3;
	opacity:0.4;
}

#cp-panel .roomlabel:hover {
	cursor:pointer;
	color:#ffffff;
	background-color:#a9a9a9;
}

#cp-panel .selectable {
	background-color: #637e8d;
	color:#ffffff;
	opacity:0.9;
}

#cp-panel .room-selected {
	font-weight: 600;
	color: #fbb157;
	line-height: 18px;
}

#cp-viz .school-hours {
	fill: #4D4D4D;
	opacity: 0.08;
}

/*general classes*/
.s-title {
	display:block;

	padding:5px 6px 5px 6px;

	color:#ffffff;
	font-size:14px;
	font-weight:200;
	letter-spacing:2px;
	
	background-color:#637e8d;
	border: solid 1px #637e8d;
	border-radius:3px;
}

.grid line {
	shape-rendering: crispEdges;
	stroke:lightgrey;
	stroke-width:2px;
	stroke-opacity: 0.7;
	stroke-dasharray:1,1;
}

.grid path {
	stroke-width: 0;
}

.axis path, line {
	fill: none;
	stroke: #a9a9a9;
	stroke-rendering: crispEdges;
}

g.tick text {
	font-size: 9px;
}

.x.axis.threshold {
	stroke-dasharray: 8,8;
	stroke-width:2px;
	opacity: 1;
}

.voronoi path {
	fill: none;
	pointer-events: all;
}

.line {
	fill: none;
	stroke: #637e8d;
	stroke-width: 1px;
	opacity: 0.9;
}

.line-hover {
	stroke-width: 2px;
}

.line.rOutdoor {
	stroke-width: 0.15em;
	stroke-dasharray: 5,5;
}

.line-selected {
	stroke: #fbb157;
	stroke-width: 3px;
	transition: stroke 500ms;
}

.focus-line {
	stroke-dasharray: 2,2;
	opacity: 0.8;
}

.focus-time {
	font-weight: 600;
}

.focus-label {
	font-weight: 600;
	font-size: 10px;
	opacity: 1;
	z-index: 99999;
	text-shadow: 0 2.0px 0 #FFF, 1px 0 0 #FFF, 0 -2.0px 0 #FFF, -2.0px 0 0 #FFF;
}

table {
	width:100%;
	border-collapse:  collapse;
}

th, td {
	border-style: solid;
	border-color: #525252;
	border-width: 0px;
	text-align: left;
	font-size: 10px;
}

.tile {
	stroke-width: 1px;
}

.tile.school {
	stroke: #525252;
	stroke-opacity: 0.4;
}

.tile-hover {
	stroke-opacity: 1 !important;
	stroke: #525252 !important;
}

.legend text {
	font-size: 10px;
}

text.monthlab.ws {
	font-size: 10.5px;
}

text.monthlab.cr {
	font-size: 10.5px;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub { 
  top: 0.4em; 
}


